<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ruan.gateway.mapper.UsersDao">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="ruan.gateway.entity.Users">
    <id column="user_id" property="userId"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="sex" property="sex"/>
    <result column="mobile" property="mobile"/>
    <result column="mail" property="mail"/>
    <result column="role" property="role"/>
    <result column="is_deleted" property="isDeleted"/>
    <result column="created_time" property="createdTime"/>
    <result column="updated_time" property="updatedTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    user_id, username, password, sex, mobile, mail, role, is_deleted, created_time, updated_time
  </sql>

  <select id="getUserByUserId" resultMap="BaseResultMap">
    select *
    from users
    where user_id = #{userId}
  </select>
</mapper>
