<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ruan.common.mapper.InventoryDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ruan.common.entity.InventoryDetail">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_count" property="goodsCount" />
        <result column="operator_person" property="operatorPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, goods_count, operator_person, create_time, update_time
    </sql>

</mapper>
